/* 
    Note: Fonts and icons are loaded in the main index.html via link rel statements.

    Current Color Scheme
    Base Text: #2C3E50
    Accent Text : #698F3F
    Background : #FBFAF8
    Accent : #E7DECD
    Warning / Editing : DD6E42
 */

h1, h2 {
  font-weight: normal;
}

h5 {
    margin-top: -12pt;
    margin-bottom: 2pt;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.t-body {
  width: 90%;
  display: table;
  vertical-align: middle;
}
.t-head {
  display: table-row;
  font-weight: bold;
}
.t-row {
  display: table-row;
}
.t-cell-1 {
  display: table-cell;
  border: 1px solid gray;
  padding: 2px;
  width: 10%;
}
.t-cell-2 {
  display: table-cell;
  border: 1px solid gray;
  padding: 2px;
  width: 30%;
}
.t-cell-3 {
  display: table-cell;
  border: 1px solid gray;
  padding: 2px;
  width: 30%;
}
.t-cell-4 {
  display: table-cell;
  border: 1px solid gray;
  padding: 2px;
  width: 10%;
}
.t-cell-5 {
  display: table-cell;
  border: 1px solid gray;
  padding: 2px;
  width: 10%;
}
.t-cell-6 {
  display: table-cell;
  border: 1px solid gray;
  padding: 2px;
  width: 10%;
}
.t-cell-7 {
  display: table-cell;
  border: 1px solid gray;
  padding: 2px;
  width: 10%;
}
.t-cell-8 {
  display: table-cell;
  border: 1px solid gray;
  padding: 2px;
  width: 10%;
}

.fw {
  width: 200px;
}

.label {
}

input {
  width: 99%;
  border: none;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
  font-size: 14pt;
  line-height: 18pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #DD6E42;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons:hover {
  color: darkolivegreen;
}